<head>
    <link rel="stylesheet" href="/static/style.css" /> 
    <title>zachtib.com - Register</title>
</head>

<body class="login">

<div id="container">
<div id="header">
<div id="branding">
<h1 id="site-name">zachtib.com - Register</h1>
</div>
</div>

<div id="content" class="colM">
<div id="content-main"> 
<form action="/register/" method="post" id="login-form">{% csrf_token %}
{{ form.as_p }}
{% if error_message %}
    <p> Error: {{ error_message }}</p>
{% endif %}
<input type="submit" value="Submit" />
</form>
</div>
</div>
</div>

</body>
