{% extends "base.html" %}
{% block title %}Blog - {{ post.title }}{% endblock %}
{% block content %}
{% load markup %}
<h1>{{ post.title }}</h1>
<h3>{{ post.subtitle }}</h3>
<p>By {{ post.author }} on {{ post.postdate }} in {{ post.get_tags }}</p>
<p>{{ post.text|markdown }}</p>

{% if comments %}
	<h3>Comments:</h3>
	<ul>
	{% for comment in comments %}
		<li><small>
		{% firstof comment.author comment.name "Anonymous" %}
		says:</small><br />
		{{ comment.text|markdown }} <br />
		<small>{{ comment.date }}</small></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No comments yet.</p>
{% endif %}

<p>Add a comment:</p>
<form action="/blog/post/{{ post.id }}/comment/" method="post">
{% csrf_token %}
{{ form.as_p }}
<p class="submit"><input type="submit" value="Comment" /></p>
</form>
{% endblock %}
