<h1>{{ post.title }}</h1>
<h2>{{ post.subtitle }}</h2>
<p>{{ post.author }}</p>
<p>{{ post.text }}</p>

{% if comments %}
	<h3>Comments:</h3>
	<ul>
	{% for comment in comments %}
		<li><small>
		{% if comment.author %}
			{{ comment.author }}
		{% else %}
			Anonymous
		{% endif %}
		says:</small><br />
			{{ comment.text }} <br />
			<small>{{ comment.date }}</small></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No comments yet.</p>
{% endif %}

<p>Add a comment:</p>
<form action="/blog/{{ post.id }}/comment/" method="post">
{% csrf_token %}
Name: <input type="text" name="name" /><br />
Email: <input type="text" name="email" /><br />
Comment: <textarea rows="10" cols="80" name="comment"></textarea><br />
<input type="submit" value="Comment" />
</form>
