<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% if debug_message %}
<!-- {{ debug_message }} -->
{% endif %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="alternate" type="application/rss+xml" title="zachtib.com Blog" href="/blog/feed/" />
    <title>zachtib.com - {% block title %}Default Page Title{% endblock %}</title>
</head>

<body>

<div id="container">
    <div id="header">
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </div>

    <div id="content" class="colMS">
    <div id="content-main">
        {% block content %}
        Content should load here
        {% endblock %}
    </div>
    <div id="content-related">
        <div class="module" id="recent-actions-module">
        {% block sidebar %}
        {% include "sidebar.html" %}
        {% endblock %}
        </div>
    </div>
    </div>
</div>

</body>
</html>
