<div id="branding">
    <h1 id="site-name">zachtib.com</h1>
</div>

<table summary="Navigation Links">
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/blog/">Blog</a></td>
        <td><a href="/resume/">Resume</a></td>
        {% for page in pages %}
            <td><a href="/{{ page.title|lower }}/">{{ page.title }}</a></td>
        {% endfor %}
    </tr>
</table>
<div id="user-tools">
{% if user.is_active %}
        Welcome, {{ user.username }}.
        {% if user.is_staff %}
            <a href = "/admin/">Administration</a> /
        {% endif %}
        <a href = "/logout/">Logout</a>
{% else %}
{% if login_form %}
    <form action="/login/" method="POST">{% csrf_token %}
{{ formset.non_form_errors.as_ul }}
<table id="formset" class="form">
  <thead><tr>
    {% for field in login_form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
    <th><small><a href="/register/">(register)</a></small></th>
  </tr></thead>
  <tr class="{% cycle row1,row2 %}">
  {% for field in login_form.visible_fields %}
    <td>
    {# Include the hidden fields in the login_form #}
    {% if forloop.first %}
      {% for hidden in login_form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
    <td><input type="submit" value="Log in" /></td>
  </tr>
</table>
    </form>
{% endif %}
{% endif %}
</div>
